.b-intro
    background-repeat no-repeat
    background-position center center
    background-size cover
    color #FFF 
    min-height 520px
    display flex
    flex-direction column 
    justify-content center 
    overflow hidden 