/*
@name checkbox

@description +checkbox('Text')

@state checkbox_minus

@markup
<label class="checkbox">
    <input class="checkbox__input" type="checkbox">
    <div class="checkbox__label">Checkbox</div>
</label>

<label class="checkbox">
    <input class="checkbox__input" disabled type="checkbox">
    <div class="checkbox__label">Checkbox</div>
</label>
*/

.checkbox
    display block
    position relative

    &__input
        opacity 0
        position absolute
        top 0
        left 0

        &:checked + .checkbox__label
            &:before
                background-image svg('checkbox.svg')
                background-repeat no-repeat
                background-position center center
                background-color $cBlue
                border-color $cBlue
                
                .checkbox_minus &
                    background-image svg('checkbox_minus.svg') 
                    background-size 8px 2px 
                
        &[disabled] + .checkbox__label
        &._disabled + .checkbox__label
            opacity .5 

    &__label
        position relative
        padding-left 25px
        min-height 17px

        &:before
            content ''
            position absolute
            left 0
            top 1px
            left 0
            width 16px
            height 16px
            border-radius 2px
            background #FFF
            box-sizing border-box
            border 1px solid $cBorder