$cBlack = #000
$cBlue = #00A0E0
$cRed = #EB4646
$cGrey = #999
$cGreen = #609200
$cPurple = #AC85FF

$cBorder = #B6C5C8


// media queries
// breakpoints [320<-640] [640<-768->900] [900<-1024->1300] [1300<-1440->1600] [1600<-1920]

$xs = '(max-width: 767px)'
$sm = '(min-width: 768px) and (max-width: 992px)'
$md = '(min-width: 1301px) and (max-width: 1600px)'
$lg = '(min-width: 1601px)'
$xlg = '(min-width: 1801px)'

