table
    width 100%
    border-collapse collapse 
    color inherit
    margin-bottom 20px 
    

    th
    td
        padding 5px 
        position relative
        vertical-align top 
        text-align left 
        border-bottom 1px solid rgba(#fff, .1) 
           
    th 
        font-weight bold
        border-bottom 1px solid #B6C5C8
        

    .table_hover
        tr
            &:hover
                background rgba(#B6C5C8, .3) 
                
