.b-tabs
    &__btn
        box-sizing border-box
        height 48px 
        line-height 46px
        text-align center
        border 1px solid currentColor
        color $cBlue
        display block
        width 100%  
        cursor pointer
        white-space nowrap
        overflow hidden
        text-overflow ellipsis   
        padding 0 10px 

        &._active
            border 1px solid $cGrey
            color $cBlack
            cursor default 
            
    &__btns
        padding 30px 0 20px 