.icon
    display inline-block
    fill currentColor
    height 1em
    line-height 1
    position relative
    top -1px // need for small icons in text
    vertical-align middle
    width 1em
    
    &_withMargin
        margin-right .3em 
        
    &_big
        font-size 20px 
        
.icon-wrapper
    position relative
    display inline-block
    vertical-align top 
    margin-right 10px 
    
.icon-counter
    position absolute
    bottom -10px
    right -10px
    color #FFF
    background $cBlue
    width 18px    
    heigth 18px
    line-height 18px
    text-align center
    border-radius 50%       
    font-size 11px
    font-weight 600  
    box-shadow 0 0 0 2px #eaeff1