.list
    &__item
        position relative
        margin-bottom 0.8em 
        padding-left 1.4em
         
        &:before
            content '•'
            position absolute
            left 0
            top 0
            color $cBlue   
            padding-left 0.3em 